In [1]:
import pandas as pd

In [92]:
df = pd.read_csv('adult.data.csv')
print(df.columns)

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [93]:
print(df.salary)

0        <=50K
1        <=50K
2        <=50K
3        <=50K
4        <=50K
         ...
32556    <=50K
32557     >50K
32558    <=50K
32559    <=50K
32560     >50K
Name: salary, Length: 32561, dtype: object

   # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    
    race_count =

In [14]:
race_counts = df['race'].value_counts()
print(race_counts)

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

# What is the average age of men?

In [52]:
average_age_men = df.loc[df['sex'] == 'Male', ['age']].mean()['age']
print(average_age_men)

39.43354749885268

# What is the percentage of people who have a Bachelor's degree?

In [30]:
percentage_bachelors = df['education'].value_counts()['Bachelors']/df['education'].count()*100

print(percentage_bachelors)

16.44605509658794

### What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

### What percentage of people without advanced education make more than 50K?

### with and without `Bachelors`, `Masters`, or `Doctorate`

In [ ]:
high_edu = ['Bachelors', 'Masters','Doctorate']

#total number of rows that satisfies "high_edu"
total_high_edu = df.loc[df['education'].isin(high_edu)].count()['education']

total_low_edu = df.loc[~df['education'].isin(high_edu)].count()['education']

total_rows = df.count()['education']

higher_education = total_high_edu/total_rows*100
lower_education = total_low_edu/total_rows*100

print("higher_education:", higher_education)
print("lower_education:", lower_education)


#number of rows that satisfies "high_edu" and has salary >50K
total_high_edu_rich = df.loc[df['education'].isin(high_edu), 'salary'].value_counts()['>50K']
higher_education_rich = total_high_edu_rich/total_high_edu*100

total_low_edu_rich = df.loc[~df['education'].isin(high_edu), 'salary'].value_counts()['>50K']
lower_education_rich = total_low_edu_rich/total_low_edu*100

print("higher_education_rich", higher_education_rich)
print("lower_education_rich", lower_education_rich)

higher_education: 23.006050182733944
lower_education: 76.99394981726606
higher_education_rich 46.535843011613935
lower_education_rich 17.3713601914639

# What is the minimum number of hours a person works per week (hours-per-week feature)?

In [ ]:
min_work_hours = None